<link rel="stylesheet" href="/stylesheets/table.css" />

<script src="/javascripts/table.js"></script>

<h1>Your Requests</h1>
<% if (participations[0]) { %>
<div class="header_wrap">
    <div class="tb_search search-bar">
        <input type="text" id="search_input_all" onkeyup="FilterkeyWord_all_table()" placeholder="Search.."
            class="form-controls" />
        <i class="fas fa-search"></i>
    </div>
</div>

<table class="table table-responsive table-hover table-borderless" id="table-id">
    <thead>
        <tr>
            <th scope="col">College Name</th>
            <th scope="col">Event Name</th>
            <th scope="col">Dates</th>
            <th scope="col">Request Status</th>
            <th scope="col">Proof</th>
        </tr>
    </thead>
    <tbody>
        <% for (i of participations) { %>
        <tr>
            <td><%= i.collegename %></td>
            <td><%= i.eventname %></td>
            <td>
                <%= i.dates[0].getDate()+ "/" + (i.dates[0].getMonth()+1) + "/" +
                        i.dates[0].getFullYear() %>
                <% if (i.dates[1]) { %> , <%=
                        i.dates[1].getDate()+ "/" + (i.dates[1].getMonth()+1) + "/" +
                        i.dates[1].getFullYear() %> <% } %>
                <% if (i.dates[2]) { %> , <%=
                        i.dates[2].getDate()+ "/" + (i.dates[2].getMonth()+1) + "/" +
                        i.dates[2].getFullYear() %> <% } %>
            </td>
            <td>
                <% if (i.applicationStatus == "pending") { %>
                Pending
                <% } else if (i.applicationStatus == "approved") { %>
                <span class="green">Approved</span>
                <% } else if (i.applicationStatus == "rejected") { %>
                <span class="red">Rejected</span>
                <% } %>
            </td>
            <% if (i.applicationStatus == "approved") { %>
            <% if (i.proofOfParticipation) { %>
            <% if (i.proofStatus == "accepted") { %>
            <td class="green">
                Proof Uploaded and Accepted.
            </td>
            <% } else if (i.proofStatus == "rejected") { %>
            <td class="red">
                Proof Uploaded but Rejected.
                <form action="/student/upload-proof/<%= i._id %>" method="post" enctype="multipart/form-data">
                    <label for="file-upload-<%= i._id %>" class="upload-btn">
                        Upload Again
                    </label>
                    <input class="upload" name="proofOfParticipation" type="file" id="file-upload-<%= i._id %>"
                        placeholder="Upload File" required onchange="getFilename(this)" />
                    <span id="file-name"></span>
                    <input class="upload-btn" style="display: none;" placeholder="submit" type="submit" />
                </form>
            </td>
            <% } else { %>
            <td class="yellow">
                Proof Uploaded, yet to approve.
            </td>
            <% } %>
            <% } else { %>
            <td class="yellow">
                <form action="/student/upload-proof/<%= i._id %>" method="post" enctype="multipart/form-data">
                    <label for="file-upload-<%= i._id %>" class="upload-btn">
                        Upload Proof
                    </label>
                    <input class="upload" name="proofOfParticipation" type="file" id="file-upload-<%= i._id %>"
                        placeholder="Upload File" required onchange="getFilename(this)" />
                    <span id="file-name"></span>
                    <input class="upload-btn" style="display: none;" placeholder="submit" type="submit" />
                </form>
            </td>
            <% } %>
            <% } else { %>
            <td>-</td>
            <% } %>

            <!-- <td><a href="/faculty/view/<%=i._id%>">More</a></td> -->
        </tr>

        <% } %>
    </tbody>
</table>
<% } else { %>
<h4>You haven't submitted any request.</h4>
<% } %>


<a href="/student/request-participation">Request For New Event</a>
<script>
    function getFilename(UploadElement) {
        UploadElement.previousElementSibling.style.display = "none";
        UploadElement.nextElementSibling.style.display = "block";
        UploadElement.nextElementSibling.innerText = "Selected File: " + UploadElement.files[0].name;
        UploadElement.nextElementSibling.nextElementSibling.style.display = "block";
    }
</script>