<h1>Student Request</h1>
<section class="faculty-view">
  <div>
    <!-- <th scope="row"><%= request.student.name %></th> -->
    <p>STUDENT: <%= request.student %></p>
    <p>COLLEGE: <%= request.collegename %></p>
    <p>EVENT NAME:<%= request.eventname %></p>
    <p>EVENT DATE:
      <%= request.dates[0].getDate()+ "/" + (request.dates[0].getMonth()+1) +
      "/" + request.dates[0].getFullYear() %>
      %>
    </p>
    <p>APPROVAL STATUS:
      <% if (request.applicationStatus == "pending") { %>
      <span class="yellow">Yet To Approve</span>
      <% } else if
      (request.applicationStatus == "approved") { %>
      <span class="green">Approved</span>
      <% } else if (request.applicationStatus == "rejected") { %>
      <span class="red">Rejected</span>
      <% } %>
    </p>
    <% if (request.proofOfParticipation) { %>
    <p class="green">PROOF: Uploaded - <%= request.proofOfParticipation %></p>
    <div>
      <object data="<%= request.proofOfParticipation %>" type="application/pdf" width="300" height="400">
        alt : <a href="<%= request.proofOfParticipation %>">test.pdf</a>
      </object>
    </div>
    <% } else { %>
    <p class="yellow">PROOF: Standby</p>
    <p>EDIT APPROVAL: </p>
    <a class="approval-btn approve" href="/faculty/approve/<%=request._id%>">
      Approve
    </a>
    <a class="approval-btn reject" href="/faculty/reject/<%=request._id%>">
      Reject
    </a>
    <% } %>
  </div>
</section>